body {
  background-color: var(--secondary-color);
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: var(--header-height);
}

.continer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.continer img {
  border-radius: 50px;
}
.bg-img1-1 {
  width: 30em;
  height: 20em;
  display: inline-block;
  margin-left: 5em;
  margin-top: 1em;
}
.bg-img1-2 img {
  width: 16em;
  height: 4em;
  display: block;
  margin-left: 11em;
}
.bg-img1 {
  width: 40%;
  height: 30em;
  margin: 20px;
  margin-top: 10px;
  box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.bg-img1:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
}

.h2 {
  color: rgb(121, 202, 232);
  text-align: center;
  font-family: serif;
}

.bg-img2-1 {
  width: 30em;
  height: 20em;
  display: inline-block;
  margin-left: 5em;
  margin-top: 1em;
}
.bg-img2-2 img {
  width: 16em;
  height: 4em;
  display: block;
  margin-left: 11em;
}

.bg-img2 {
  width: 40%;
  height: 30em;
  margin: 20px;
  margin-top: 10px;
  box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.bg-img2:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
}

.bg-img3-1 {
  width: 30em;
  height: 20em;
  display: inline-block;
  margin-left: 5em;
  margin-top: 1em;
}
.bg-img3-2 img {
  width: 16em;
  height: 4em;
  display: block;
  margin-left: 11em;
}

.bg-img3 {
  width: 40%;
  height: 30em;
  margin: 20px;
  margin-top: 10px;
  box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.bg-img3:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
}

.bg-img4-1 {
  width: 30em;
  height: 20em;
  display: inline-block;
  margin-left: 5em;
  margin-top: 1em;
}
.bg-img4-2 img {
  width: 16em;
  height: 4em;
  display: block;
  margin-left: 11em;
}
.bg-img4 {
  width: 40%;
  height: 30em;
  margin: 20px;
  margin-top: 10px;
  box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.bg-img4:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
}

.bg-img5-1 {
  width: 30em;
  height: 20em;
  display: inline-block;
  margin-left: 5em;
  margin-top: 1em;
}
.bg-img5-2 img {
  width: 16em;
  height: 4em;
  display: block;
  margin-left: 11em;
}
.bg-img5 {
  width: 40%;
  height: 30em;
  margin: 20px;
  margin-top: 10px;
  box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.bg-img5:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
}

.bg-img6-1 {
  width: 30em;
  height: 20em;
  display: inline-block;
  margin-left: 5em;
  margin-top: 1em;
}
.bg-img6-2 img {
  width: 16em;
  height: 4em;
  display: block;
  margin-left: 11em;
}
.bg-img6 {
  width: 40%;
  height: 30em;
  margin: 20px;
  margin-top: 10px;
  box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.bg-img6:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
}
.h2-1 {
  color: rgb(121, 202, 232);
  font-size: 20px;
  display: inline;
  width: 60px;
  height: 50px;
  margin-left: 5em;
}
.back {
  color: cadetblue;
  text-align: center;
}
a {
  text-decoration: none;
}

.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
