.button {
  display: inline-block;
  background-color: var(--main-brand-color);
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  width: 350px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 15px;
  margin: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: var(--text-color);
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.sam-btn {
  display: inline-block;
  background: linear-gradient(to left, #3405dd, #a477db);
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  width: 350px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 15px;
  margin: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.sam-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: var(--text-color);
}

.sam-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sam-btn:hover span {
  padding-right: 25px;
}

.sam-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
