body {
  color: var(--text-color);
  background-color: var(--primary-color);
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  color: var(--text-color);
  background-color: var(--primary-color);
  margin: auto;
}
.form-container {
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: var(--primary-color);
  margin: 3rem;
  border-radius: 50px;
  background: #222831;
  box-shadow: 20px 20px 60px #1d222a, -20px -20px 60px #272e38;
}

legend {
  font-size: 30px;
  color: var(--secondary-text-color);
}

.form-item-container {
  display: flex;
  flex-direction: column;
  padding: 0.1rem;
}

.form-item-container input {
  padding: 1rem;
  background-color: var(--primary-color);
  border: none;
  outline: 1px solid var(--secondary-text-color);
  border-radius: 10px;
  color: var(--text-color);
  margin: 3px;
}

.form-item-container input::placeholder {
  color: var(--secondary-text-color);
}
.form-item-container input::placeholder:hover {
  color: var(--text-color);
}

.form-item-container input:focus {
  outline-color: var(--main-brand-color);
}

.form-item-container input:hover {
  background-color: var(--secondary-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

fieldset {
  padding: 2rem;
  width: 80%;
  margin: auto;
  border-radius: 15px;
}

.checkbox-item-container a {
  color: var(--main-brand-color);
}

.button-container {
  background-color: var(--primary-color);
  text-align: center;
  width: min-content;
  margin: 1.5rem auto 0 auto;
  display: block;
  border-radius: 15px;
  outline: 1px solid var(--main-brand-color);
}

.button-container:hover {
  background-color: var(--secondary-color);
}

.button-container a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
  padding: 1rem;
  display: inline-block;
}

.forgot-pw-link {
  text-align: center;
}

.forgot-pw-link a {
  text-decoration: none;
  margin-top: 2rem;
  color: var(--darker-brand-color);
  font-size: 0.9rem;
  opacity: 0.8;
}

.login-btn {
  margin: 3rem auto 1rem auto;
}
