.contact-bar {
  background-color: var(--secondary-color);
  height: 2rem;
  align-items: center;
  overflow: hidden;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: end;
  padding-right: 2rem;
}

.contact-bar-links {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2rem;
  list-style-type: none;
}

.contact-bar-links a {
  text-decoration: none;
  color: var(--secondary-text-color);
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.contact-bar-links a:hover {
  color: var(--main-brand-color);
  background-color: var(--primary-color);
}

.topnav {
  height: 6rem;
  width: 100%;
  background: linear-gradient(to top, var(--main-brand-color), #0a74bb);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 3px rgba(30, 30, 30, 0.5);
}
.nav-links > ul {
  padding-left: 8rem;
  display: flex;
  list-style-type: none;
}

.nav-links li {
  padding: 1rem 0;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  transition: 0.5s ease;
  border-radius: 15px;
}

.nav-links a:hover {
  background-color: #ffffff3f;
  opacity: 0.6;
  color: black;
  font-size: 2.2rem;
}

.topnav img {
  float: left;
  margin-left: 2rem;
}

.navigation-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-customer {
  float: right;
}

.nav-customer ul {
  list-style-type: none;
  display: flex;
  margin-right: 2rem;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
  gap: 15px;
}

.nav-customer ul img {
  padding-right: 5px;
  margin: 0;
}

.nav-customer ul a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-logo {
  float: left;
  position: absolute;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 25px;
}
.dropdown {
  position: relative;
}
nav ul li a {
  text-decoration: none;
  padding: 15px;
}

nav ul li:hover .dropdown-menu {
  display: flex;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 6rem;
  z-index: 1;
  background-color: var(--main-brand-color);
  min-width: 160px;
  max-height: 80px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 2px rgba(30, 30, 30, 0.4);
  align-items: center;
  justify-content: center;
  border-top: 1px solid #4eb8ff;
  transition: 1s ease;
  gap: 10px;
}

.dropdown-menu li a {
  color: var(--text-color);
  width: 100%;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
}

.dropdown-menu li a:hover {
  font-size: 1.7rem;
}
.dropdown-menu:hover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  left: 0;
  z-index: 1;
}
