.ad-sale {
  padding: 10rem 3rem 0 3rem;
  height: 130vh;
  min-height: 100px;
  width: 100%;
  background: url("../img/daniel-lincoln-2iKehl1xKcI-unsplash.jpg") top/cover
      no-repeat,
    linear-gradient(to bottom, rgb(153, 153, 153), rgb(171, 171, 171));
  background-blend-mode: multiply;
}

.ad-sale-text {
  float: left;
  max-width: 700px;
  margin: auto;
  margin-right: 300px;
  height: 70%;
  width: 700px;
}

.ad-sale-text p {
  margin: 2rem;
  font-size: 2.3em;
  color: aliceblue;
  line-height: 1.5;
  text-align: left;
  font-weight: 600;
  text-shadow: 2px 3px 2px rgb(0, 0, 0);
}
