.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  list-style-type: none;
  background-color: var(--secondary-color);
  overflow: hidden;
  width: 100%;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(32, 172, 241),
    0 0 5px rgb(133, 133, 200);
}

.categories a {
  text-decoration: none;
  color: var(--text-color);
  padding: 100px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.categories a:hover {
  color: var(--text-color);
}

.categories li:hover {
  background-color: var(--main-brand-color);
  transition: ease-in 0.2s;
}

.categories li {
  text-align: center;
  transition: ease-out 0.2s;
}

.categories img {
  margin-bottom: 10px;
}

main {
  display: flex;
  justify-content: space-between;
}

.newrelease {
  background: url(../img/daniel-gzz-ELC0hD4AwB0-unsplash.jpg) top/cover
    no-repeat;
  height: 100vh;
  width: 100%;
  padding: 5rem;
  color: var(--text-color);
  line-height: 3rem;
  font-size: 2rem;
}

.newrelease p {
  text-shadow: 2px 2px 2px black;
}

.newrelease h2 {
  color: white;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 1em;
}

.sam-heading {
  background: -webkit-linear-gradient(180deg, #3405dd, #a477db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
