main {
  margin: 8rem 0;
  text-align: center;
  color: var(--text-color);
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--secondary-color);
}
h2 {
  font-size: 2.5rem;
}

h5 {
  color: var(--secondary-text-color);
  margin-bottom: 2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 20rem;
}

label {
  margin-top: 2rem;
}

input,
textarea {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
}

.send-btn {
  background-color: var(--main-brand-color);
  padding: 1rem 2rem 1rem 2rem;
  margin: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}
